@model DuckLab.Models.Company

@{
    ViewBag.Title = "Details";
}

<script src="~/Scripts/canvasjs.min.js"></script>
<script src="~/Scripts/canvasjs.react.js"></script>
<script src="~/Scripts/jquery.canvasjs.min.js"></script>
@{
    System.Web.Script.Serialization.JavaScriptSerializer serializer = new System.Web.Script.Serialization.JavaScriptSerializer();
    var dataPoints = Model.CompanyStocks.Select(stock => new { label = stock.stockTime.Value.ToShortDateString(), y = stock.stockPrice }).ToList();
    var dataPointsString = Html.Raw(serializer.Serialize(dataPoints));
}

<script>
    window.onload = function () {
        var dataPoints = @dataPointsString;
            var chart = new CanvasJS.Chart("chartContainer", {
            animationEnabled: true,
            theme: "light2",
            title: {
            text: "Stock Prices"
            },
            axisX: {
            title: "Date"
            },
            axisY: {
            title:"Price($)",
                includeZero: false
            },
            data: [{
            type: "line",
                dataPoints: dataPoints
            }]
        });
        chart.render();
    }
</script>
<div class="container">
    <h2>@Model.companyName</h2>
    <h4>@Model.companySymbol</h4>
    <div class="row">
        <div class="col-lg-6">
            <button type="button" style="margin-top:20px" class="btn btn-success" onclick="window.location.href='@Url.Action("GetStockPriceByCompanyID", new { companyId = Model.companyID})'">Get Todays Stock Price</button>
            <table class="table">
                <tr>
                    <td>Date</td>
                    <td>Price</td>
                </tr>
                @foreach (DuckLab.Models.CompanyStock stockPrice in Model.CompanyStocks.OrderByDescending(x=> x.stockTime))
                {
                    <tr>
                        <td>@stockPrice.stockTime</td>
                        <td>$@stockPrice.stockPrice</td>
                    </tr>
                }
            </table>
        </div>
        <div class="col-lg-6">
            <div id="chartContainer" style="height:370px; width: 100%"></div>
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Back", "Index")
</p>

