@model DuckLab.Models.Game

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Game</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        <label class="control-label col-md-2">Game Name</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.gameName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.gameName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Game Type</label>
        <div class="col-md-10">
            <select name="gameType" id="gameType" class="form-control" onchange="myFunction()">
                <option value="Timed">Timed</option>
                <option value="Profit Goal">Profit Goal</option>
                <option value="Practice">Practice</option>
            </select>
        </div>
    </div>

    <div class="form-group" id="endDate">
        <label class="control-label col-md-2">End Date</label>
        <div class="col-md-10">
            <input type="date" class="form-control" name="endDate" />
        </div>
    </div>

    <div class="form-group" id="profitGoal" style="display:none">
        <label class="control-label col-md-2">Profit Goal</label>
        <div class="col-md-10">
            <input type="number" class="form-control" name="profitGoal" />
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Starting Balance</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.startingBalance, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.startingBalance, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script>
    function myFunction() {
        var type = document.getElementById("gameType").value;
        if (type == "Timed") {
            document.getElementById("endDate").style.display = "block";
            document.getElementById("profitGoal").style.display = "none";
        }
        if (type == "Profit Goal") {
            document.getElementById("endDate").style.display = "none";
            document.getElementById("profitGoal").style.display = "block";
        }
        if (type == "Practice") {
            document.getElementById("endDate").style.display = "none";
            document.getElementById("profitGoal").style.display = "none";
        }
    }
</script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
